@use 'variables' as v;
@use 'mixins' as m;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.8rem;
  font-family: 'Public Sans', sans-serif;
}
.header{
  @media (min-width:920px) {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav{
    --menu-mostrar: polygon(0 0, 100% 0, 100% 0, 0 0);;
    --opacidad-abrir: 1;
    --puntero-abrir: unset;
    --opacidad-cerrar: 0;
    --puntero-cerrar: none;
    display: grid;
    justify-content: space-between;
    grid-template-columns: max-content max-content;
    grid-template-areas: "logo menu";
    align-items: center;
    height: 64px;
    padding: 0 24px;
    @media(min-width:920px){
      grid-template-columns: max-content 1fr minmax(180px,max-content);
      grid-template-areas: "logo menu cta";
      height: 80px;
      background-color: #fff;
      position: relative;
      z-index: 11;
    }
    &:has(:checked) {
      --menu-mostrar: polygon(0 0, 100% 0, 100% 100%, 0 100%);;
      --opacidad-abrir: 0;
      --puntero-abrir: none;
      --opacidad-cerrar: 1;
      --puntero-cerrar: unset;
    }
    input[type="checkbox"] {
      display: none;
    }
    &__menu {
      padding: 0;
      list-style: none;
      position: fixed;
      inset: 64px 5% 50% 5%;
      background-color: v.$light-grayish-blue;
      display: grid;
      gap: 4rem;
      place-content: center;
      text-align: center;
      clip-path: var(--menu-mostrar);
      transition: clip-path 0.5s;
      justify-self: end;
      z-index: 100;
      @media (min-width:920px) {
        clip-path: none;
        inset: initial;
        grid-auto-flow: column;
        justify-self: center;
        background-color: #fff;
        grid-area: menu;
        align-self: center;
        position: relative;
        z-index: 100;
      }
      .nav__link {
        text-decoration: none;
        color: v.$dark-blue;
        font-size: 2rem;
        transition: all 0.3s ease;
        font-weight: 600;
        @media (min-width:920px) {
          color: v.$grayish-blue;
          font-size: 1.6rem;
          font-weight: 400;
        }
        &:hover {
          color: v.$lime-green;
          border-bottom: 2px solid v.$lime-green;
        }
      }
    }
    .btn-request{
      display: none;
      @include m.btn-request;
      @media(min-width: 920px){
        display: flex;
        grid-area: cta;
        align-items: center;
        justify-content: center;
      }
    }
    &__label {
      grid-area: menu;
      z-index: 100;
      transition: 0.4s opacity;
    }
    &__label--open {
      opacity: var(--opacidad-abrir);
      pointer-events: var(--puntero-abrir);
      @media (min-width:920px) {
        opacity: var(--opacidad-cerrar);
        pointer-events: var(--puntero-cerrar);
      }
    }
    
    &__label--close {
      opacity: var(--opacidad-cerrar);
      pointer-events: var(--puntero-cerrar);
      @media (min-width:920px) {
        opacity: var(--opacidad-cerrar);
        pointer-events: var(--puntero-cerrar);
      }
    }
    
    &__icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      path {
        fill: red;
      }
    }
    #close{
      width: 18px;
      height: 19px;
      @media (min-width:920px) {
        display: none;
      }
    }
    #open{
      width: 24px;
      height: 11px;
      @media (min-width:920px) {
        display: none;
      }
    }
    &__logo {
      display: block;
      width: 150px;
      grid-area: logo;
    }
  }
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    @media(min-width: 920px){
      flex-direction: row-reverse;
      align-items: center;
      height: 600px;
    }
    &-fi{
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      .pi{
        z-index: -1;
        img{
          width: 100%;
          position: relative;
          left: 0;
          object-fit: cover;
          @media (min-width:920px) {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0%;
            object-fit: fill;
            height: 90%
          }
        }
      }
      .phone{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        object-fit: contain;
        width: 100%;
        @media (min-width:920px) {
          height: auto;
          max-height: 780px;
          position: relative;
          z-index: 6;
        }
      }
    }
    &__info{
      width: 70%;
      text-align: center;
      @media (min-width:920px) {
        text-align: left;
        max-width: 450px;
      }
      .hero__title{
        font-size: 4rem;
        font-weight: 300;
        margin-bottom: 2rem;
        color: v.$dark-blue;
        @media (min-width:920px) {
          font-size: 5rem;
        }
      }
      .hero__description{
        font-size: 1.7rem;
        line-height: 1.5;
        color: v.$grayish-blue;
        @media (min-width:920px) {
          font-size: 1.77rem;
        }
      }
      .btn-request{
        @include m.btn-request;
      }
    }
  }
}
.why{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f0f2f2;
  padding: 4rem;
  .why__header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
    margin-bottom: 4rem;
    .why__title{
      font-size: 3rem;
      font-weight: 300;
    }
    .why__description{
      font-size: 1.6rem;
      line-height: 1.5;
      color: v.$grayish-blue;
    }
  }
  .why__cards{
    z-index: -1;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    .why__card{
      width: 280px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .why__cardImg{
        width: 74px;
        height: 74px;
      }
      .why__cardTitle{
        font-size: 2rem;
        font-weight: 400;
      }
      .why__cardInfo{
        font-size: 1.5rem;
        line-height: 1.5;
        color: v.$grayish-blue;
      }
    }
  }
}
